@import "tailwindcss";
body {
  font-family: var(--font-inter), sans-serif;
}

@theme {
  --color-primary: #202124;
  --color-white: #ffffff;
  --color-accent: #fff45a;
}
@layer components {
  .primary-btn{
    @apply text-white uppercase text-sm border rounded-[5px] px-2.5 py-1 sm:px-4 sm:py-2 inline-block hover:bg-black
  }
  .input{
    @apply inline-block w-full border border-white placeholder:text-white/50 py-3 px-4 rounded-[5px] text-white focus:outline-accent
  }
}
.styled-scrollbar{
   scrollbar-color: gray transparent;
   scrollbar-width: thin;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}